html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar a {
    color: white;
    margin: 5px;
    padding: 5px;
}

.group-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 15px;
}

.all h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px;
}

.all .token {
    margin: 15px;
}

.all .token:hover {
    cursor: pointer;
    transform: scale(1.1);
}

body {
    margin: 0;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

header {
    background: #2F214B;
    padding: 15px;
}

.hidden {
    display: none;
}

ul {
    padding-left: 15px;
}

.script-container {
    padding-bottom: 15px;
}

.script-container, .characters {
    display: flex;
    justify-content: center;
    text-align: center;
}

.script {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    color: white;
    border-radius: 10px;
    background: darkred;
    transition: all .35s;
    border: 2px solid darkred;
}

.script:hover {
    cursor: pointer;
    background: white;
    color: darkred;
}

.selected {
    background: white;
    color: darkred;
    border: 2px solid darkred;
    transform: scale(.9);
}


/* .characters {
    background: darkgray;
    padding: 10px;
    color: white;
} */

.character {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    border-radius: 10px;
}

.info-container {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    /* max-width: 800px; */
}

.token, .intro-img {
    max-width: 200px;
    transition: all 1s;
}

/* .token:hover {
    transform: scale(1.1);
} */

.intro {
    margin-bottom: 0;
}

.flavor {
    font-style: italic;
    background-color: #E7DAC7;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    /* text-align: center; */
}

.ability h3 {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.examples-container, .tips-container, .bluffing-container {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}

.examples-arrow, .tips-arrow, .bluffing-arrow {
    margin-left: 10px;
}

.examples-container:hover, .tips-container:hover, .bluffing-container:hover {
    cursor: pointer;
}

.speech-bubble {
	position: relative;
	background: #E7DAC7;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #E7DAC7;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

.flex {
    display: flex;
}

select {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.div-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    letter-spacing: 8px;
}

.img-flavor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 500px){
    .img-flavor-container {
        flex-direction: row;
        justify-content: center;
    }
    .speech-bubble {
        width: 45%;
        margin-left: 30px;
        position: relative;
        background: #E7DAC7;
        border-radius: .4em;
    }
    .speech-bubble:after {
        content: '';
	    position: absolute;
	    left: 0;
	    top: 50%;
	    width: 0;
	    height: 0;
	    border: 20px solid transparent;
	    border-right-color: #E7DAC7;
	    border-left: 0;
	    margin-top: -20px;
	    margin-left: -20px;
    }
    .img-flavor-container {
        margin-bottom: 30px;
    }
}

.welcome {
    font-family: sans-serif;
    text-align: center;
}

@media only screen and (max-width: 723px){
    .token {
        max-width: 150px;
    }
}

@media only screen and (max-width: 573px){
    .all .token {
        max-width: 100px;
        margin: 7.5px;
    }
}

@media only screen and (max-width: 378px){
    .all .token {
        max-width: 75px;
        margin: 5px;
    }
}